[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=addAlbum

[Desktop Action addAlbum]
Name=Add Album
Name[zh]=导入专辑
Icon=background
Exec=/bin/bash -c "export VISUAL=code; ~/.cargo/bin/anni repo --root ~/Code/Music/repo add --edit '%u'";
